
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="row" style="display:inline">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <br />
    <br />
    <br />
    <h1>Property  Details</h1>
    <br />
    <table class="table">
        <tr>
            <th> Suburb </th>
            <th> Location </th>
            <th> Number of Rooms </th>
            <th> Floor Area </th>
            <th> Land Area </th>
            <th> RV </th>
            <th> Email </th>
            <th> Property Type </th>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Suburb</td>
                <td>@i.Location</td>
                <td>@i.Number_of_Rooms</td>
                <td>@i.Floor_Area</td>
                <td>@i.Land_Area</td>
                <td>@i.RV</td>
                <td>@i.Email</td>
                <td>@i.Property_Type</td>

            </tr>

        }
    </table>
    <br />




    <h2>Add Property</h2>
    <br />
    @Html.ActionLink("Add", "Index", "Login")
    <br />
    <br />
    <br />
    <h3>Delete Property</h3>
    <br />
    <form method="post" action="~/Property/del">
        <tr>
            <td>Property Id:</td>
            <td><input type="text" name="Id" /> </td>
        </tr>
        <tr>

        <tr>
            <td>Seller Id:</td>
            <td><input type="text" name="SellerId" /> </td>
        </tr>
        <tr>
        <tr>
            <td><input type="submit" /></td>
        </tr>
        <tr>




    </form>
    <br />
    <br />
    <br />
    <br />

    @Html.ActionLink("Go to Search", "Index", "Search")


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>


