
@{
    ViewBag.Title = "reg2";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYOE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <td>@Model.Suburb</td>
                <td>@Model.Location</td>
                <td>@Model.Number_of_Rooms</td>
                <td>@Model.Floor_Area</td>
                <td>@Model.Land_Area </td>
                <td>@Model.RV </td>
                <td>@Model.Email </td>
                <td>@Model.Property_Type</td>
            </tr>
        </table>
    </div>
</body>
</html>
