
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@model online_Real_Estate2.Models.Seller
<div class="row" style="display:inline">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <br />
    <br />
    <br />
    <h2>Seller Registration</h2>
    @using (Html.BeginForm("reg", "Seller", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" });

        <table class="table">

            <tr>
                <td>@Html.Label("Frist_name", "Frist name:") </td>
                <td>@Html.TextBox("Frist_name", null, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessage("Frist_name", "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Last_name", "Last name:") </td>
                <td>@Html.TextBox("Last_name")</td>
                <td>@Html.ValidationMessage("Last_name", "", new { @class = "text-danger" })</td>

            </tr>
            <tr>
                <td>@Html.Label("Address", "Address:") </td>
                <td>@Html.TextBox("Address")</td>
                <td>@Html.ValidationMessage("Address", "", new { @class = "text-danger" })</td>
            </tr>

            <tr>
                <td>@Html.Label("Phone_number", "Phone number:") </td>
                <td>@Html.TextBox("Phone_number")</td>
                <td>@Html.ValidationMessage("Address", "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Email_address, "Email address:")</td>
                <td>@Html.TextBoxFor(m => m.Email_address, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(model => model.Email_address, "", new { @class = "text-danger" })</td>

            </tr>
            <tr>
                <td> <input type="submit" /> </td>
            </tr>
        </table>

    }

    <h3>Seller update</h3>
    <form method="post" action="~/Seller/upd">
        <table class="table">
            <tr>
                <td> ID:</td>
                <td><input type="text" name="ID" /></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
                <td>Email address:</td>
                <td><input type="text" name="Email_address" /></td>
            </tr>
            <tr>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>