
@{
    ViewBag.Title = "se";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="display:inline">
    <h2>search</h2>
    <table class="table">
        <tr>
        <th>Suburb</th>
        <th>Location</th>
        <th>Number of Rooms</th>
        <th>Floor Area</th>
        <th>Land Area</th>
        <th>RV</th>
        <th>Email</th>
        <th>Property Type</th>
        </tr>

        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Suburb</td>
                <td>@i.Location</td>
                <td>@i.Number_of_Rooms</td>
                <td>@i.Floor_Area</td>
                <td>@i.Land_Area</td>
                <td>@i.RV</td>
                <td>@i.Email</td>
                <td>@i.Property_Type</td>


            </tr>
}
    </table>
</div>
